@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
/* Glass morphism */
.btn {
    background: #1c1c20;
    box-shadow: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #26262d;
    transform: scale(1.02);
}


/* Main wrapper for the carousel, defining its positioning and dimensions */
.embla {
    position: relative;
    width: 100%;
    height: 100%;
    /* top: -64px; */
    margin-left: auto;
    margin-right: auto;
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

/* Container for the iOS picker, aligning items vertically and centering the content */
.embla__ios-picker {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    line-height: 1;
}

/* Scene container for the carousel items, handling overflow and touch interactions */
.embla__ios-picker__scene {
    color: #8b8b9f37;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    touch-action: pan-x;
}

/* Viewport of the iOS picker, adding 3D perspective and disabling text selection */
.embla__ios-picker__viewport {
    height: 60px;
    width: 100%;
    text-align: left !important;
    perspective: 3000px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Container for holding the 3D transformed slides */
.embla__ios-picker__container {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    will-change: transform;
}

/* Styles for individual slides, including text alignment and backface visibility for 3D rotation */
.embla__ios-picker__slide {
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: left !important;
    display: flex;
    margin-left: 4rem;
    align-items: start;
    justify-content: start;
    backface-visibility: hidden;
}


/* .embla__ios-picker__viewport--perspective-left {
  perspective-origin: calc(50% + 130px) 50%;
  transform: translateX(27px);
}

.embla__ios-picker__viewport--perspective-right {
  perspective-origin: calc(50% - 130px) 50%;
  transform: translateX(-27px);
} */
 
/* Fading gradient at the top */
/* .embla:before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: 0;
    right: 0;
    height: 40px; 
    border-bottom: 0.5px solid rgba(49, 49, 49, 0.3);
    background: radial-gradient(linear, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 1; 
    pointer-events: none; 
} */

/* Fading gradient at the bottom */
/* .embla:after {
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    right: 0;
    height: 40px; 
    border-top: 0.5px solid rgba(49, 49, 49, 0.3);
    background: radial-gradient(linear, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 1; 
    pointer-events: none; 
} */


/* .embla:before,
.embla:after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: calc(50% - 100px / 2);
    z-index: 1;
    pointer-events: none;
} */




:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
  
    svg {
      position: fixed;
      top:0;
      left:0;
      width: 0;
      height: 0;
    }
  
  
    .gradients-container {
      filter: url(#goo) blur(40px) ;
      width: 100%;
      height: 100%;
    }
  
    .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: center center;
      animation: moveVertical 30s ease infinite;
  
      opacity: 1;
    }
  
    .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;
  
      opacity: 1;
    }
  
    .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);
  
      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;
  
      opacity: 1;
    }
  
    .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;
  
      opacity: 0.7;
    }
  
    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      top: calc(50% - var(--circle-size));
      left: calc(50% - var(--circle-size));
  
      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;
  
      opacity: 1;
    }
  
    .interactive {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;
  
      opacity: 0.7;
    }
  }
  