@tailwind base;
@tailwind components;
@tailwind utilities;
 
.embla__ios-picker {
    /* background: #fff; */
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 50%;
    justify-content: center;
    line-height: 1;
    font-size: 1.8rem;
}
.embla__ios-picker__scene {
    color: #8b8b9f37; 
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    touch-action: pan-x;
}
.embla__ios-picker__viewport {
    /* background: #ffffff; */
    height: 60px;
    width: 100%;
    perspective: 1000px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
 
.embla__ios-picker__container {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    will-change: transform;
}

.embla__ios-picker__slide {

    width: 100%;
    height: 100%;
    font-size: 35px;
    text-align: left !important;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}




/* .embla__ios-picker__viewport--perspective-left {
  perspective-origin: calc(50% + 130px) 50%;
  transform: translateX(27px);
}

.embla__ios-picker__viewport--perspective-right {
  perspective-origin: calc(50% - 130px) 50%;
  transform: translateX(-27px);
} */


.embla {
    position: relative;
    width: 100%;
    height: 100%;
    /* top: -64px; */
    margin-left: auto;
    margin-right: auto;
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

/* Fading gradient at the top */
/* .embla:before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: 0;
    right: 0;
    height: 40px; 
    border-bottom: 0.5px solid rgba(49, 49, 49, 0.3);
    background: radial-gradient(linear, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 1; 
    pointer-events: none; 
} */

/* Fading gradient at the bottom */
/* .embla:after {
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    right: 0;
    height: 40px; 
    border-top: 0.5px solid rgba(49, 49, 49, 0.3);
    background: radial-gradient(linear, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 1; 
    pointer-events: none; 
} */


/* .embla:before,
.embla:after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: calc(50% - 100px / 2);
    z-index: 1;
    pointer-events: none;
} */


/* Button */
/* Glass morphism */

.btn {
    background: rgba( 10, 32, 73, 0.1 );
    box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}